.simple-map-view {
  position: relative;
  width: 100%;
  min-height: 480px;
  height: 70vh;
  max-height: 900px;
}
.simple-map-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
  z-index: 500;
  font-weight: 600;
}
